<!DOCTYPE html>
<html lang="en">
<head th:replace="~{template-parts/head :: head}">
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="~{template-parts/menu :: menu}"></div>
        <div th:if="${message}" th:text="${message}" class="alert alert-secondary mt-2"></div>
    </div>
    <div class="row" th:if="${pair}">
        <h1>Главная страница</h1>
        <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-start align-items-center overflow-hidden">
            <h4 th:text="${pair.getCatOne().getName()}"></h4>
            <img th:src="${pair.getCatOne().getPhoto()}" class="w-auto h-100" style="max-height: 400px">
            <form class="mt-3" th:action="@{/add-result}" th:method="POST" th:object="${resultForm}">
                <input type="hidden" name="catPair" th:value="${pair.getId()}">
                <input type="hidden" name="cat.id" th:value="${pair.getCatOne().getId()}">
                <input type="hidden" name="cat.name" th:value="${pair.getCatOne().getName()}">
                <input type="hidden" name="cat.photo" th:value="${pair.getCatOne().getPhoto()}">
                <button type="submit" class="btn btn-primary">Выбрать</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-start align-items-center overflow-hidden">
            <h4 th:text="${pair.getCatTwo().getName()}"></h4>
            <img th:src="${pair.getCatTwo().getPhoto()}" class="w-auto h-100" style="max-height: 400px">
            <form class="mt-3" th:action="@{/add-result}" th:method="POST" th:object="${resultForm}">
                <input type="hidden" name="catPair" th:value="${pair.getId()}">
                <input type="hidden" name="cat.id" th:value="${pair.getCatTwo().getId()}">
                <input type="hidden" name="cat.name" th:value="${pair.getCatTwo().getName()}">
                <input type="hidden" name="cat.photo" th:value="${pair.getCatTwo().getPhoto()}">
                <button type="submit" class="btn btn-primary">Выбрать</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>